.thumbnail img{
    width: 100%;
}
#map{
    width: 260px;
    height: 300px;
    margin-bottom:20px;
}
.thumbnail{
    padding:0;
}
.thumbnail .caption-full{
    padding:9px;
}

li{
    color:green;
    font-weight: bold;
}
